.dropdownWrapper {
  position: relative;
  width: 80%;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 12px;
}

.selectedOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  border-radius: 12px;
  background-color: #fff;
}

.selectedOptions span {
  flex-grow: 1;
  font-size: 12px;
  word-wrap: break-word;
  color: #333;
}

.arrow {
  font-size: 16px;
  margin-left: 5px;
  color: #333;
  text-align: right;
}

.optionsList {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 6px;
}

.option {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.addOptionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.addOptionInput {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 10px;
  width: 70%;
}

.addOptionButton {
  padding: 8px 12px;
  background-color: #141414;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
  gap: 12px; 
  display: flex;
align-items: center;
}

.addOptionButton:hover {
  background-color: #bdc1c6;
}

@media (min-width: 768px) {

  .dropdownWrapper {
    padding: 20px;
  }

  .selectedOptions {
    font-size: 16px;
    padding: 10px;
  }

  .addOptionInput {
    font-size: 16px;
    width: 100%;
  }

  .addOptionButton {
    font-size: 16px;
    gap: 12px; 
    display: flex;
  align-items: center;
 }
}
